html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #top {
    text-align: center;
    margin: 0 auto;
  }
  
  #top h1 {
    font-size: 2em;
  }
  
  #content {
    margin-top: 100px;
    font-size: 1em;
    margin: 50px;
    text-align: left;
  }

  /*from W3Schools
  /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 10px 10px 0px 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  text-align: left;
  margin: 0 10px;
  padding: 20px 18px;
  display: none;
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
}

.inputField {
  margin: 5px;
}